* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.heading {
  font-weight: bold;
}

.white-text{
  color: white;
}

.management-box {
  padding: 20px;
}

.management-box svg {
  font-size: 25px;
  font-weight: bold;
}

.management-box h5 {
  padding-left: 10px;
  font-weight: bold;
  font-size: 30px;
}

.management-box p {
  padding-right: 10px;
  font-weight: bold;
  font-size: 18px;
}

.dashboard-box {
  /* border: 2px solid black; */
  width: 100%;
  /* padding: 10px 30px; */
  /* border-radius: 5px; */
}

.stack_container {
  width: inherit;
  /* border: 3px solid red; */
}

.dashboard_container {
  width: inherit !important;
}

.side-bar-menu {
  width: 20%;
  height: 100vh;
}

.dashboard-menu {
  width: 80%;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-search {
  /* border: 2px solid red; */
  height: 40px;
  background: transparent;
  border: 2px solid black;
  width: 240px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: black;
}

.input-search input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: black;
  padding-left: 10px;
}

.input-search-icon{
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
}

.dashboard-list {
  margin-top: 40px;
  text-align: left;
  padding: 0px 20px 20px 20px;
}

.dashboard-list li {
  padding-top: 20px;
  list-style: none;
}

.side-bar-menu ul li {
  border-bottom: 2px solid black;
  list-style: none;
  padding: 30px;
  cursor: pointer;
}

.side-bar-menu ul li:hover{
  background-color: rgb(54, 54, 54);
}

.side-bar-menu ul li:active{
  background-color: black;
}

.side-bar-menu ul li svg {
  font-size: 20px;
}

.dashboard_table {
  width: 100%;
}

.delete_icon {
  color: red;
  cursor: pointer;
}

/* Add */
.container-box {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-field {
  width: 45%;
  justify-content: space-between;
}

.input-field input {
  width: 100%;
}

.add_dur_selector{
  height: 38px;
  border-radius: 5px;
  color: #3b3a3a;
}

/* Modal */

.modal {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.update_form {
  padding: 20px;
  width: 50%;
  background-color: white;
  border-radius: 20px;
  min-height: 500px;
  position: relative;

}

.update_form .close {
  position: absolute;
  top: 8px;
  right: 20px;
  color: black;
  cursor: pointer;
  font-size: 30px;
  font-weight: bolder;
}

.update_dur_selector{
  height: 38px;
  border-radius: 5px;
  color: #3b3a3a;
}


@media screen and (max-width: 1200px) {
  .update_form {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .update_form {
    width: 75%;
    padding: 15px;

  }
}

@media screen and (max-width:600px) {
  .update_form {
    width: 90%;
    padding: 10px;

  }
}